#ironpython .lang, #ironpython a, #ironpython a.lang {
  color: green;
}

/* colors */

#ironpython a.dotnet, #ironpython .dotnet {
  color: #1A61E5;
}


.page #nav a.active {
  padding-top: 20px;
}
#ironpython.page #nav a.active {
  border-top: 5px solid green;
}

#ironpython.page ul.question-answer p a:link,
#ironpython.page ul.question-answer p a:visited {
  color: green;
}

#ironpython a.download_link:link,
#ironpython a.download_link:visited {
  color: white;
  background-color: green;
  border: 2px solid #333;
}
#ironpython a.download_link:hover {
  color: white;
  background-color: #080;
  border: 2px solid #555;
}

#ironpython.page #header h1 a {
  background-image: url(../images/ironpython-logo-202x50.png);
}
#ironpython.home.page #header h1 a {
  background-image: url(../images/logo.png), url(../images/ironpython-logo-383x95.png);
  background-size: 90px, auto;
  background-position-x: left, right;
}

#ironpython.page #get,
#ironpython.page #get a:hover {
  background-color: green;
}

#ironpython.home.page #get #download h3 a {
  background-image: url(../images/download-ironpython.png);
}

#ironpython.page.browser #get-started-button {
  display: block;
  background-image: url(../images/btn_getstarted.png);
  width: 283px;
  height: 43px;
  padding: 0;
  text-indent: -100000px;
}
#ironpython.page.browser #get-started-button:hover {
  background-position: 0 -43px;
}

#ironpython.columns #body .section .download a {
  border-left: 10px solid green;
}

#ironpython #page-nav li a.active {
  background-color: green;
}

#ironpython .browser-nav li a, #ironpython .browser-nav li a:visited {
  color: white;
  background-color: green;
}
#ironpython .browser-nav li a:hover {
  background-color: #080;
}

#ironpython.tools .tools-image {
  background-image: url("../images/ironpython-vstools-fade.png");
}

#ironpython.tools .download-link a:link,
#ironpython.tools .download-link a:visited {
  color: white;
  background-color: green;
  border: 2px solid #333;
}
#ironpython.tools .download-link a:hover {
  color: white;
  background-color: #080;
  border: 2px solid #555;
}

#ironpython.home.page #get #tutorial p {
    top: 0;
}


#ironpython.home.page #get #tutorial {
    background: none;
    top: 0;
}

#ironpython.home.page #get #tutorial #code-snippet code {
    background: none;
    height: 279px;
    padding: 0;
    top: -190px;
    width: 256px;
    z-index: 10;
}