---
layout: layout
---
<div id="header">
  <h1><a href="..">IronPython</a></h1>
  <h2>
    <a class='download_link' 
       target='_blank'
       href="{{site.stable_release_url}}"
       >Download release<br /><span style='font-size: 18px'>IronPython {{site.stable_version}}</span></a>
    <a class='download_link'
       target='_blank'
       href="{{site.preview_release_url}}"
       >Download preview<br /><span style='font-size: 18px'>IronPython {{site.preview_version}}</span></a>
  </h2>
</div>

<div id="body">
  {{ content }}
</div>


